body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(141, 140, 140);
}

#myH1{
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 200, 175);
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid;
    border-radius: 50px;
    padding: 30px;
    background-color: rgb(185, 185, 185);
}

#display{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: hsl(0, 100%, 20%);
    text-shadow: 2px 2px 2px hsl(0, 0%, 0%, 0.75);
    margin-bottom: 25px;
}

#controls button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    color: hsl(0, 100%, 20%, 0.75);
}

#startBtn{
    background-color: rgb(0, 180, 0);
}
#startBtn:hover{
    background-color: hsl(120, 100%, 25%, 0.75);
}

#stopBtn{
    background-color: rgb(212, 0, 0);
}
#stopBtn:hover{
    background-color: hsla(7, 93%, 45%, 0.75);
}

#resetBtn{
    background-color: rgb(33, 0, 218);
}
#resetBtn:hover{
    background-color: hsla(214, 100%, 41%, 0.75);
}